<div class="container" >
  <div class="row">
    <div class="col-lg-8">
      <h1><b><%= t('.demo_app')%></b></h1>
      <% @posts.each do |p| %>
          <!-- blog entry -->

          <h1><%= link_to p.title, users_post_path(p) %>   </h1>
              <% if p.user.present?%>
          <p class="lead"><%= t('.by')%> <%= p.user.try(:name)%>
           <em class="pull-right" style="font-size: 16px">  theme:<%= p.theme %></em></p>
              <%end%>
          <hr>
          <p><span class="glyphicon glyphicon-time"></span><%=t('.posted')%> <%= time_ago_in_words p.created_at %> <%=t('.ago')%> </p>
          <p><em><%=t('.comments')%> <%= p.comments.count %> </em> </p>
          <hr>

          <hr>     <%= link_to (image_tag p.image_url(:standard)), users_post_path(p) %>
          <p> <%= p.text %></p>

          <a class="btn btn-primary" href="<%= users_post_path(p) %>">
            <%=t('.read_more')%><span class="glyphicon glyphicon-chevron-right"></span></a>

          <hr>
      <% end %>


      <hr>

      <!-- pager -->
      <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a>
        </li>
        <li class="next"><a href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    <div class="col-lg-4" >
      <div class="well">
        <h4><%= t('.search')%></h4>
        <% if params[:search]%>
                  <b><%= 'Results found:'"#{@posts.size}"%></b>
        <% end %>
        <div class="input-group">

        <%= form_tag users_posts_path, method: 'get' do %>
                  <span class="input-group-btn">
                <%= text_field_tag :search, params[:search], class:'form-control' %>
                <%= button_tag '', :name => nil, class:'btn btn-default' do  %>
                            <span class="glyphicon glyphicon-search"></span>
                            <% end %>
                     </span>
                  <% end %>
              </div>
        <!-- /input-group -->
      </div>
      <!-- /well -->
      <div class="well">
        <h4><%= t('.categories')%></h4>

        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <% @posts.each do |p|%>
                  <li>  <%=link_to p.theme.capitalize %> </li>
              <%end %>
            </ul>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#alien-abductions">Alien Abductions</a>
              </li>
              <li><a href="#business-casual">Business Casual</a>
              </li>
              <li><a href="#robots">Robots</a>
              </li>
              <li><a href="#fireworks">Fireworks</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /well -->
      <div class="well">
        <h4>Side Widget Well</h4>

        <p>Bootstrap's default wells work great for side widgets! What is a widget anyways...?</p>
      </div>
      <!-- /well -->
    </div>
  </div>

  <hr>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Company 2013</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->
