

<div class="container" >
  <div class="row">
    <div class="col-lg-8">
      <h1>My demo app</h1>
      <% @posts.each do |p| %>
          <!-- blog entry -->
          <h1><%= link_to p.title, users_post_path(p) %>   </h1>

          <p class="lead">by <%= p.user.try(:email)%>
          </p>
          <hr>
          <p><span class="glyphicon glyphicon-time"></span>Posted <%= time_ago_in_words p.created_at %> </p>
          <p><em>Comments <%= p.comments.count %></em> </p>
          <hr>
          <img src="http://placehold.it/900x300" class="img-responsive">
          <hr>
          <p> <%= p.text %></p>

          <a class="btn btn-primary" href="<%= users_post_path(p) %>">Read
            More<span class="glyphicon glyphicon-chevron-right"></span></a>

          <hr>
      <% end %>

      <hr>

      <!-- pager -->
      <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a>
        </li>
        <li class="next"><a href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    <div class="col-lg-4">
      <div class="well">
        <h4>Blog Search</h4>

        <div class="input-group">
          <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- /well -->
      <div class="well">
        <h4>Popular Blog Categories</h4>

        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#dinosaurs">Dinosaurs</a>
              </li>
              <li><a href="#spaceships">Spaceships</a>
              </li>
              <li><a href="#fried-foods">Fried Foods</a>
              </li>
              <li><a href="#wild-animals">Wild Animals</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#alien-abductions">Alien Abductions</a>
              </li>
              <li><a href="#business-casual">Business Casual</a>
              </li>
              <li><a href="#robots">Robots</a>
              </li>
              <li><a href="#fireworks">Fireworks</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /well -->
      <div class="well">
        <h4>Side Widget Well</h4>

        <p>Bootstrap's default wells work great for side widgets! What is a widget anyways...?</p>
      </div>
      <!-- /well -->
    </div>
  </div>

  <hr>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Company 2013</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->
